Repository hmcts/am-org-role-mapping-service, pull requests merged in 2020-12, with the labels that each got.

#24 AM-1078 Junit and Mutation initial coverage
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepositoryTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-24

#44 Commit branch sync changes
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-44

#45 Consumer Pact for get-actor-by-id api in RAS
  build.gradle
  pacts/am_org_role_mapping-am_role_assignment_service_get_actor_by_id.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-45

#46 Drool scenarios testing for case mapping.
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-46

#47 AM-1128 - Pact Consumer - Create Api - Additional Scenarios
  build.gradle
  pacts/am_org_role_mapping-am_role_assignment_service_create.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-47

#50 Am 1135 unit mutation testing
  build.gradle
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-50

#48 Am 1138 audit log development
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-48

#49 AM-1129: Pact search query Consumer Test
  pacts/am_org_role_mapping-am_role_assignment_service_search_query.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-49

#51 AM-1131- enable asb for higher env.
  bin/sendMessage.sh
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-51

#54 Remove s2s mount reference
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-54

#52 Handle unprocessedEntity exception from RAS
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtils.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-52
