Repository hmcts/am-org-role-mapping-service, pull requests merged in 2020-11, with the labels that each got.

#26 AM-1089- Junit test cases to follow the TDD process for ORM development.
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/FeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtils.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-26

#28 Am 1096 orm development
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/validationrules/core/core.drl
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/main/resources/validationrules/iac_service_mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-28

#30 Update chart versions
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/requirements.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-30

#31 AM-1100: Functional tests.
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/F-001-Base-Root.td.json
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/F-001_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-001_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-002_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/functionalTest/resources/features/common/ResponseRoleRequest.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-31

#33 AM-1100: ORM functional tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-001_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-001/S-002_DeleteDataForRoleAssignments.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-33

#35 Am 1115 pact consumer
  pacts/am_org_role_mapping-am_role_assignment_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-35

#38 Master secrets fix
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-38

#39 Am 1107 azure service bus integration
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingApplication.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/RetrieveDeadLetterTopic.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumerBk.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/Deserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/messaging/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtils.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-39

#32 AM-1099 Integration testing
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/integrationTest/resources/RASDeleteFlagTrue.json
  src/integrationTest/resources/RASDroolRuleFail.json
  src/integrationTest/resources/RASMultiUserOneRole.json
  src/integrationTest/resources/RASOneUserMultiRole.json
  src/integrationTest/resources/RASOneUserOneRole.json
  src/integrationTest/resources/RASSampleResponse.json
  src/integrationTest/resources/RASUpdateRoleTcwStcw.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/Status.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-32

#43 Updated consumer pacts in ORM
  pacts/am_org_role_mapping-am_role_assignment_service.json
  pacts/am_org_role_mapping-am_role_assignment_service_create.json
  pacts/am_org_role_mapping-am_role_assignment_service_roles.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-43
