Repository hmcts/am-org-role-mapping-service, pull requests merged in 2020-06, with the labels that each got.

#2 fix build issues
  .gitignore
  .gradle/6.2.2/executionHistory/executionHistory.bin
  .gradle/6.2.2/executionHistory/executionHistory.lock
  .gradle/6.2.2/fileHashes/fileHashes.bin
  .gradle/6.2.2/fileHashes/fileHashes.lock
  .gradle/6.2.2/javaCompile/javaCompile.lock
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/checksums/checksums.lock
  .gradle/checksums/md5-checksums.bin
  .idea/workspace.xml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2

#7 Updating the build.gradle
  .gitignore
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SecurityConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/endpoints/S2SAuthenticationTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-7

#9 Java upgrade new
  Dockerfile
  build.gradle
  charts/am-org-role-mapping-service/values.preview.template.yaml
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-9
