Repository hmcts/am-org-role-mapping-service, pull requests merged in 2020-10, with the labels that each got.

#13 TF v0.13.3 upgrade changes
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  docker-compose.yml
  gradle/wrapper/gradle-wrapper.properties
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/terraform.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
  src/functionalTest/resources/features/F-000/S-000.td.json
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/IdamUtils.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-13

#16 Suppressing the Oauth vulnerabilities.
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-16

#15 AM-926 : create end point and setup integration test
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/ApiOriginFilter.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AssignmentRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/ActorIdType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/Classification.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/GrantType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RequestType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/service/CreateOrgRoleMappingOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ApplicationUtils.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/v1/V1.java
  src/main/resources/application.yaml
  src/main/resources/attributes.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/security/IdamRoleServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/IdamUtils.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-15

#18 Am-1067: Added Launch Darkly config.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  infrastructure/output.tf
  src/functionalTest/resources/features/F-000/F-000.feature
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WireMockBaseTest.java
  src/integrationTest/resources/sql/insert_role_assignment_request.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureToggleService.java
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/EmptySmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/FeatureFlagToggle.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/FeatureFlagToggleEvaluator.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-18

#20 AM-926: functional smoke test setup
  src/functionalTest/resources/features/F-000/F-000.feature
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureToggleService.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/UserTokenProviderConfig.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-20

#21 Am 922 setup initial entity model
  Jenkinsfile_CNP
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingApplication.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SecurityEndpointFilter.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignmentResource.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserRoles.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/CRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/DataStoreFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/RASFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/DatastoreFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/DatastoreFeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/FeignClientConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/FeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/RASFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/exceptionhandler/DatastoreFeignExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/JwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/OIdcAdminConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/service/CreateOrgRoleMappingOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/GetSasToken.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/v1/V1.java
  src/main/resources/application.yaml
  src/main/resources/attributes.json
  src/main/resources/bootstrap.yml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-21

#19 AM-1028:PACT Consumer test for static list of roles API
  Jenkinsfile_CNP
  build.gradle
  pacts/am_org_role_mapping-am_role_assignment_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-19

#22 Am 922 mapping rules
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/utils/MockUtils.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/ErrorConstants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/exception/UnprocessableEntityException.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/CRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/RASFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/v1/V1.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/application.yaml
  src/main/resources/userProfileSample.json
  src/main/resources/validationrules/iac_service_mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-22

#25 Updating the vault secrets
  docker-compose.yml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-25

#23 AM-1035:Azure config changes and token generation
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/FeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/Deserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-23
