Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-02, with the labels that each got.

#73 Am 1178 primary location issue
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-73

#74 AM-1182 caffeine cache implementation
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.aat.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingApplication.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-74

#77 updated charts to match organisation standards
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-77

#78 AM-1172 sonar bugs and smells fix
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-78

#76 disabling kotlin
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-76

#79 AM-1196 upgrading failing dependency
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-79
