Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-04, with the labels that each got.

#93 AM-1237 logging when an access profile is rejected by drools in ORM
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-93

#100 Ta 576 consumer test ref data
  Jenkinsfile_CNP
  build.gradle
  pacts/am_org_role_mapping-am_role_assignment_service_create.json
  pacts/am_org_role_mapping-am_role_assignment_service_delete_actor.json
  pacts/am_org_role_mapping-am_role_assignment_service_get_actor_by_id.json
  pacts/am_org_role_mapping-am_role_assignment_service_roles.json
  pacts/am_org_role_mapping-am_role_assignment_service_search_query.json
  pacts/am_org_role_mapping-crd_case_worker_ref_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCRD.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-100

#113 AM-1288 Upgrading netty to avoid CVE
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-113

#112 Am-1278 j unit line coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtilsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-112

#115 AM-1279 mutation test coverage
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-115

#117 added the read me file for ORM
  README.md
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-117

#119 chart version update
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-119

#121 CVE Fix for commons-io
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-121

#127 (feat): Add dependbot. Update secrets.
  .dependabot/config.yml
  .github/stale.yml
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-127

#126 AM-1321 Integration and pact consumer test reports in Jenkins
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-126

#118 AM-1311 Mutation Test Improvements
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/JRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/CaseWorkerAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/JwtGrantedAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-118
