Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-10, with the labels that each got.

#409 reverting changes as duplication scenario won't happen in production
  src/main/resources/userProfileSample.json
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-409

#410 Fortify scan issue fix
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-410

#411 Upgrade TF and AzureRM version, remove unwanted vars
  infrastructure/.terraform-version
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-411

#452 Fixing the Pitest.
  Jenkinsfile_nightly
  build.gradle
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-452
