Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-03, with the labels that each got.

#80 updating the orm aat topic name to rd-caseworker-subscription-aat
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/requirements.yaml
  charts/am-org-role-mapping-service/values.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-80

#81 Upgrade spring to 2.3.9.RELEASE
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-81

#82 Pact fix for roleCategory
  pacts/am_org_role_mapping-am_role_assignment_service_get_actor_by_id.json
  pacts/am_org_role_mapping-am_role_assignment_service_roles.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-82

#84 tomcat upgrade
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-84

#85 updated the role category from STAFF to LEGAL_OPERATIONS
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/values.preview.template.yaml
  pacts/am_org_role_mapping-am_role_assignment_service_search_query.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-003.td.json
  src/functionalTest/resources/features/F-001/S-003_FetchAssignmentFromRAS.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/SingleUserId.td.json
  src/functionalTest/resources/features/F-001/SingleUserMultipleRolesIds.td.json
  src/functionalTest/resources/features/F-001/WorkLocationPrimaryFalse.td.json
  src/functionalTest/resources/features/common/FetchAssignmentsFromRAS.td.json
  src/functionalTest/resources/features/common/ResponseRequestedRole.td.json
  src/integrationTest/resources/RASDroolRuleFail.json
  src/integrationTest/resources/RASMultiUserOneRole.json
  src/integrationTest/resources/RASOneUserMultiRole.json
  src/integrationTest/resources/RASOneUserOneRole.json
  src/integrationTest/resources/RASUpdateRoleTcwStcw.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleCategory.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-85

#88 fix springfox version
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-88

#89 Fix build issues
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-89

#90 cve fix
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-90

#92 Cve fix
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-92

#96 Updated the ORM admin account
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-96

#97 dummy commit to redeploy app with updated secrets.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-97

#106 Netty CVE Fix
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-106

#105 pact fixes
  pacts/am_org_role_mapping-am_role_assignment_service_create.json
  pacts/am_org_role_mapping-am_role_assignment_service_get_actor_by_id.json
  pacts/am_org_role_mapping-am_role_assignment_service_search_query.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-105

#87 AM-1232: ORM FTA changes
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-007_DeleteDataForRoleAssignments01.td.json
  src/functionalTest/resources/features/F-001/S-007_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/SingleDuplicateUser.td.json
  src/functionalTest/resources/features/F-001/SingleUserId.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-87
