Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-11, with the labels that each got.

#482 Configure postgres version
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-482

#485 Create postgres v11 DB on all environments
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-485

#500 Create DB V11 secret using terraform.
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-500

#501 Update the values.yaml to point to new V11 DB.
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.aat.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-501

#512 Update suppressions.xml
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-512

#477 JRD integration
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-003/JRDPresidentOfTribunalUserId.td.json
  src/functionalTest/resources/features/F-003/JRDSingleDuplicateUser.td.json
  src/functionalTest/resources/features/F-003/JRDSingleUserId.td.json
  src/functionalTest/resources/features/F-003/JRDSingleUserMultipleRoles.td.json
  src/functionalTest/resources/features/F-003/JRDTribunalJudgeFeepaidUser.td.json
  src/functionalTest/resources/features/F-003/JRDTribunalJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-003/S-021.td.json
  src/functionalTest/resources/features/F-003/S-021_DeleteDataForRoleAssignments01.td.json
  src/functionalTest/resources/features/F-003/S-021_DeleteDataForRoleAssignments02.td.json
  src/functionalTest/resources/features/F-003/S-021_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-003/S-021_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-003/S-022_DeleteDataForRoleAssignments01.td.json
  src/functionalTest/resources/features/F-003/S-022_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-003/S-022_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-003/S-023.td.json
  src/functionalTest/resources/features/F-003/S-023_DeleteDataForRoleAssignments01.td.json
  src/functionalTest/resources/features/F-003/S-023_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-003/S-023_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-003/S-024_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/common/PushMessageToJRDProfileProcess.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Appointment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JRDUserRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CRDService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JRDService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/JRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/JRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/main/resources/judicialProfileSample.json
  src/main/resources/validationrules/iac/iac-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CRDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJrdOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/CaseWorkerAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-477

#514 Remove v9.6 DB
  infrastructure/main.tf
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-514

#515 JRD paging and logs
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JRDUserRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JRDService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/JRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/JRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/CaseWorkerAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-515

#499 1743 junit authorisations
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialAccessProfile.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJrdOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-499

#526 fixing the incorrect work types for judicial roles.
  build.gradle
  src/functionalTest/resources/features/F-003/S-021.td.json
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-003/S-023.td.json
  src/functionalTest/resources/features/F-003/S-024.td.json
  src/main/resources/validationrules/iac/iac-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJrdOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-526
