Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-06, with the labels that each got.

#196 Am 1367 functional Testing Automation for Refresh API
  build.gradle
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002-Base-Root.td.json
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/F-002_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-002/S-011.td.json
  src/functionalTest/resources/features/F-002/S-012.td.json
  src/functionalTest/resources/features/F-002/S-012_DeleteJobFromORMDB_1.td.json
  src/functionalTest/resources/features/F-002/S-012_DeleteJobFromORMDB_2.td.json
  src/functionalTest/resources/features/F-002/S-012_FetchJobDetailsFromORM.td.json
  src/functionalTest/resources/features/F-002/S-012_InsertJobWithAbortedStatus.td.json
  src/functionalTest/resources/features/F-002/S-012_InsertJobWithNewStatusAndLinkedId.td.json
  src/functionalTest/resources/features/F-002/S-013.td.json
  src/functionalTest/resources/features/F-002/S-013_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-013_FetchJobDetailsFromORM.td.json
  src/functionalTest/resources/features/common/DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/common/FetchJobDetailsFromORM.td.json
  src/functionalTest/resources/features/common/InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/common/WaitFor20sRASProcessing.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/annotation/FeatureFlagToggle.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagToggleEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/TestController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CRDService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumerBk.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/messaging/MessagingConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-196

#184 AM-1368 JUnit testing for Refresh API ORM
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/JobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/RefreshJobEntity.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Request.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CRDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-184

#215 Am 1408 ld flag fix it
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-002/F-002.feature
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/annotation/FeatureFlagToggle.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagToggleEvaluator.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-215

#227 Am 1273
  build.gradle
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerApplication.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/common/PushMessageToAzureServiceBus.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/MessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumerBk.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/messaging/JmsErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/messaging/MessagingConfig.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-227

#239 Fixing the environment variable value.
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/MessagingConfiguration.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-239

#228 Am 1419 drool rules debug mode
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerApplication.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ValidationModelService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/main/resources/application.yaml
  src/main/resources/validationrules/core/log.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-228

#242 1416 testing service layer
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-242

#243 Am 1417 mutation coverage refresh api
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-243

#244 Am 1417 mutation test coverage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluatorTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-244

#246 Removing sonar exclusion am 1335
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-246

#260 Core pattern impl for orm
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/FlagConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/FlagConfigRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/FeatureFlag.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/FlagRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/PersistenceUtil.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1.2__new_flag_config_table.sql
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/PersistenceUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-260

#265 Am 1411 sonar fix
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtils.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluatorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-265

#264 AM 1425 PACT consumer test for CRD API
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-264

#266 Updated the RAS URL to point to master for all FTA
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-266

#267 Fix the functional test.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-267

#277 Add autoupdate config for PRs
  .github/workflows/autoupdate.yml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-277
