Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-01, with the labels that each got.

#58 AM-1158 Addressing CVEs
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-58

#61 enabling mutation coverage
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-61

#56 Am 1131 enable asb for higher env
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-56

#60 AM-1154: ORM consumer pact test
  pacts/am_org_role_mapping-am_role_assignment_service_search_query.json
  pacts/am_org_role_mapping-crd_case_worker_ref_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCRD.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-60

#59 AM-1026 pact consumer for delete api
  pacts/am_org_role_mapping-am_role_assignment_service_delete_actor.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-59

#65 AM-1164 removed expectation of links object in pacts
  pacts/am_org_role_mapping-am_role_assignment_service_create.json
  pacts/am_org_role_mapping-am_role_assignment_service_get_actor_by_id.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-65

#67 updated the ras response.
  src/functionalTest/resources/features/F-001/S-001.td.json
  src/functionalTest/resources/features/F-001/S-002.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-67

#66 AM-1164 updated delete pact name
  pacts/am_org_role_mapping-am_role_assignment_service_delete_actor.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-66

#69 Master fix: Change delete_flag to suspended
  pacts/am_org_role_mapping-crd_case_worker_ref_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCRD.java
  src/functionalTest/resources/features/common/CreateSingleUserProfileCrd.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/resources/userProfileSample.json
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-69

#70 Fixing the code smells.
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/RetrieveDeadLetterTopic.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/WelcomeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-70

#71 Changing the domain to justice.gov.uk in functional tests.
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-71

#68 AM-1164 - updated consumer test for crd to match the json response
  pacts/am_org_role_mapping-crd_case_worker_ref_service.json
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCRD.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-68

#62 excluded service bus, replaced some operators with Math funcs
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-62
