Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-05, with the labels that each got.

#167 Fix console errors
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SecurityConfiguration.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-167

#138 enabling testing in nightly
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-138

#168 (feat): Migrating to Jitpack.
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/TestDataLoaderMain.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-168

#169 (feat): Fixing the nightly builds.
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-169

#180 (feat): Updating the functional test cases.
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-001/F-001.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-180

#182 Adding 90mins to nightly trigger
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-182

#197 Spring upgrade
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-197

#195 Am 1369
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/integrationTest/resources/sql/insert_refresh_jobs.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-195
