Repository hmcts/am-org-role-mapping-service, pull requests merged in 2021-12, with the labels that each got.

#537 fixing failing validate date test
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-537

#548 Fixing the build.
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-003/S-021.td.json
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-003/S-023.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-548

#549 updated the call to avoid topic publish
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerApplication.java
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-001/S-002_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/S-002_PushMessageToCRDServices.td.json
  src/functionalTest/resources/features/F-001/S-005_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/S-005_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-001/S-006_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/S-006_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-001/S-007_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/S-007_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-001/S-010_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-001/S-010_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/common/PushMessageToCRDProfileProcess.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/CRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/JRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/RdFeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-549

#513 [Can be merged now] 1759 jrd pacts
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataJudicialProfileConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-513

#527 updating the Flyway and spring version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-527

#550 Fortify was disabled for nightly build.
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-550

#552 Changed the nightly time lines
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-552

#551 test case fix
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepositoryTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-551

#538 TDD for judicial refresh
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialBooking.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialBookingRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialBookingResponse.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialRefreshRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialBookingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/JBSFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/RASFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/JBSFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/RASFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtils.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/v1/V1.java
  src/main/resources/application.yaml
  src/main/resources/judicialBookingSample.json
  src/main/resources/validationrules/iac/iac-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JRDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RoleAssignmentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-538

#566 Added JudicialBooking Query Consumer and added the Provider for the r…
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/JudicialBookingConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/judicialbooking/JudicialBookingConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingProviderTestForRefresh.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/ProviderTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-566

#565 Intgegration test for orm refresh with bookings
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JRDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-565
