Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-07, with the labels that each got.

#963 Tech debt makeuseofvar keywords orm
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForAdvanceDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataJudicialProfileConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/FunctionalTestUtils.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmDefaultMultiSourceFeatureToggleService.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmFeatureToggleService.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/GetSasToken.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-963

#966 ORM: Convert all the validation methods into predicate based lambda expressions
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/PredicateValidator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-966

#960 Tech debt changes using List.of & Set.of
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataJudicialProfileConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CRDFeignClientFallback.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/PersistenceUtilTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/SecurityUtilsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-960

#951 AM-2080: FTA Civil Staff
  src/functionalTest/resources/features/F-007/F-007-Base-Root.td.json
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/F-007_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-007/S-061.td.json
  src/functionalTest/resources/features/F-007/S-061_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-061_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-007/S-061_SingleUserId.td.json
  src/functionalTest/resources/features/F-007/S-062.td.json
  src/functionalTest/resources/features/F-007/S-062_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-062_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-007/S-062_SingleUserId.td.json
  src/functionalTest/resources/features/F-007/S-063.td.json
  src/functionalTest/resources/features/F-007/S-063_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-063_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-007/S-063_SingleUserId.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-951

#981 updated different strings to DB for referring DB based flags
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-007/F-007.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-981

#958 remove duplicate roles - merge after R2
  src/functionalTest/resources/features/F-007/S-061.td.json
  src/functionalTest/resources/features/F-007/S-062.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/ValidationUtil.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJrdOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialOfficeMappingSscsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingSscsTest.java
Labels: ns:am, prd:am, iac-r3, rel:am-org-role-mapping-service-pr-958

#980 CIVIL booking judge changes
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-980

#983 CIVIL booking judge changes
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-983

#948 Added FTA for SSCS Staff Org Roles
  src/functionalTest/resources/features/F-006/F-006-Base-Root.td.json
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/F-006_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-006/S-051.td.json
  src/functionalTest/resources/features/F-006/S-051_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-051_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-006/S-052.td.json
  src/functionalTest/resources/features/F-006/S-052_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-052_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-006/S-053.td.json
  src/functionalTest/resources/features/F-006/S-053_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-053_PostCreateRequestToORM.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-948, iac-r3

#957 regionid changed for 7 and 8 - merge after R2
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingSscsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-957, iac-r3

#986 A change to the civil drool rules, added junit changes
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-986

#1001 ORM:java version in helm repo version update
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1001

#1000 FTA for judicial hearing_viewer
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-005/S-042.td.json
  src/functionalTest/resources/features/F-005/S-043.td.json
  src/functionalTest/resources/features/F-005/S-044.td.json
  src/functionalTest/resources/features/F-005/S-045.td.json
  src/functionalTest/resources/features/F-005/S-045_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-045_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-006/F-006.feature
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1000

#1009 ORM:Merge renovate bot pr's
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1009
