Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-05, with the labels that each got.

#817 Added FTA's for hearing roles
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-005/F-005-Base-Root.td.json
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/F-005_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-005/S-041_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-041_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005/S-042.td.json
  src/functionalTest/resources/features/F-005/S-042_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-042_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005/S-043.td.json
  src/functionalTest/resources/features/F-005/S-043_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-043_PostCreateRequestToORM.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-817

#879 Update combine-prs.yml
  .github/workflows/combine-prs.yml
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-879

#886 CVE fix netty-version update
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-886

#883 Delete dependabot.yml
  .github/dependabot.yml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-883

#893 CVE fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-893

#816 AM-2135: Upgrading to Java 17
  Dockerfile
  build.gradle
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-816

#890 Am 2161 civil judicial user mapping rules
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.6__civil_wa_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-890

#900 added the JAP logging for rejected userIds
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialOfficeHolder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/validationrules/core/log.drl
  src/main/resources/validationrules/iac/iac-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/test/test.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-900

#884 Am multi service codes
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Authorisation.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/judicialProfileSample.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJrdOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialOfficeMappingSscsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-884
