Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-06, with the labels that each got.

#906 staff mapping rules for ORM
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/main/resources/validationrules/civil/civil-caseworker-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-906

#912 updated civil role worktype
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-912

#914 Added drool test scenarios for civil judicial roles
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-914

#918 Added drool test scenarios for civil staff roles
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-918

#941 2206 addressing sonar smells
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/JwtGrantedAuthoritiesConverter.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-941

#904 adding regions to all SSCS staff roles
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-005/S-042.td.json
  src/functionalTest/resources/features/F-005/S-043.td.json
  src/main/resources/validationrules/sscs/sscs-admin-mapping.drl
  src/main/resources/validationrules/sscs/sscs-caseworker-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingCivilTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingSscsTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-904

#946 FTA for multi region sscs
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-044.td.json
  src/functionalTest/resources/features/F-005/S-044_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-044_PostCreateRequestToORM.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-946

#955 location check for iac removed
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-955

#959 remove expired profile roles
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/oidc/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-959

#962 FTA fix for registaror org role
  src/functionalTest/resources/features/F-005/S-043.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-962
