Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-12, with the labels that each got.

#1184 CIVIL_WA - Work type changes for civil service
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/main/resources/validationrules/civil/civil-caseworker-mapping.drl
  src/main/resources/validationrules/civil/civil-ctsc-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1184

#1176 Private_LAW_ Add Work type changes for private law service
  src/functionalTest/resources/features/F-007/S-081.td.json
  src/functionalTest/resources/features/F-007/S-082.td.json
  src/functionalTest/resources/features/F-007/S-084.td.json
  src/functionalTest/resources/features/F-008/S-071.td.json
  src/functionalTest/resources/features/F-008/S-072.td.json
  src/functionalTest/resources/features/F-008/S-073.td.json
  src/functionalTest/resources/features/F-008/S-074.td.json
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1176

#1232 Suppress CVE-2021-37533
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1232

#1209 2549 - PrivateLaw New Roles
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1209

#1236 AM-Application Nightly Build Failed on CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1236
