Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-11, with the labels that each got.

#1147 fix_fortify
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/resources/features/common/users/CrdBeftaUser1.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1147

#1150 Am privatelaw specificrule
  src/functionalTest/resources/features/F-008/S-071.td.json
  src/functionalTest/resources/features/F-008/S-072.td.json
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1150

#1159 AM-Nightly Build Failure
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1159

#1160 CIVIL_CTSC - Add CTSC category for Civil service
  src/functionalTest/resources/features/F-007/S-061.td.json
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/main/resources/validationrules/civil/civil-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1160

#1185 judicial booking fta fix
  src/functionalTest/resources/features/F-003/JRDTribunalJudgeFeepaidUser.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1185

#1169 PRIVATE_LAW - Add Magistrate appointment for private law service
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1169
