Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-02, with the labels that each got.

#659 Temp disable failing FTA
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-004/F-004.feature
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-659

#670 fixing cves: tomcat, xstream
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-670

#689 cve fix
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-689

#690 empty request refresh in RAS from orm
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-690

#653 Addressing sonar smell: usage of wildcard type
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/ProviderTestConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/UserAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-653

#695 Upgrade java chart version
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-695

#697 Upgrade chart version
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-697
