Repository hmcts/am-org-role-mapping-service, pull requests merged in 2022-09, with the labels that each got.

#1059 Am privatelaw hearing
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1059

#1064 AM-2343 Suppressing LD SnakeYaml CVE
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1064

#1035 Judicial drool rule for privatelaw
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleCategory.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.8__privatelaw_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingPrivateLawTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1035

#1065 Revert "Judicial drool rule for privatelaw"
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleCategory.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.8__privatelaw_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolJudicialRoleMappingPrivateLawTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1065

#1075 Suppress new versions of SnakeYaml CVE
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1075

#1067 private law judicial and staff config
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/RoleCategory.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.8__privatelaw_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1067

#1088 Addressing CVE
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1088
