Repository hmcts/am-org-role-mapping-service, pull requests merged in 2023-10, with the labels that each got.

#1590 AM-2953 CVE-2022-4244 AM-2952 CVE-2022-4245 Shared Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1590

#1589 COT-484 Civil new appointment District Judge- Sitting in Retirement
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20231002_484__COT-484_CIVIL_WA_1_2_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1589

#1598 AM-2958 Migrate to Workload Identity from aad-pod-identity - chart-ja…
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1598

#1595 COT-550 rename work type to pre_hearing post_hearing
  src/functionalTest/resources/features/F-004/S-031.td.json
  src/functionalTest/resources/features/F-004/S-032.td.json
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-005/S-042.td.json
  src/functionalTest/resources/features/F-005/S-043.td.json
  src/functionalTest/resources/features/F-005/S-044.td.json
  src/functionalTest/resources/features/F-006/S-051.td.json
  src/functionalTest/resources/features/F-006/S-052.td.json
  src/functionalTest/resources/features/F-006/S-053.td.json
  src/main/resources/validationrules/sscs/sscs-admin-mapping.drl
  src/main/resources/validationrules/sscs/sscs-caseworker-mapping.drl
  src/main/resources/validationrules/sscs/sscs-ctsc-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1595

#1597 COT-552 remove region from sptribs staff roles
  src/main/resources/validationrules/stcic/stcic-admin-mapping.drl
  src/main/resources/validationrules/stcic/stcic-caseworker-mapping.drl
  src/main/resources/validationrules/stcic/stcic-other-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicStaffOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1597

#1607 AM-2987 CVE-2023-42794, AM-2988 CVE-2023-42795, AM-2989 CVE-2023-4564…
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1607

#1594 Cot 546 update orm v1 jap with cft region
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1594

#1608 Am 2987 tomcat upgrade 9.0.82
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1608

#1602 Cot 573 update sptribs judicial role config
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1602

#1611 AM-3002 CVE-2023-5072 AM-3003 CVE-2023-44487 shared suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1611

#1612 AM-3003 CVE-2023-44487 netty upgrade 4.1.100.Final
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1612

#1618 AM-3012 CVE-2023-4586 netty 2nd Time - Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1618

#1540 AM-2894: Allow service bus to be switched on/off depending on requirements
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.aat.template.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/OrgMappingController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/OrgMappingControllerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1540, enable_keep_helm

#1624 AM-3018: PRIVATELAW circuit-judge role mapping changes
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20231026_3018__AM-3018_PRIVATELAW_WA_1_3_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1624

#1628 AM-3032 Enable privatelaw_wa_1_3 ORM flag in PROD
  src/main/resources/db/migration/V20231030_3032__AM-3031_Enable_PRIVATELAW_WA_1_3_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1628

#1621 Am 2976 provision terraform postgres v15 ithc
  infrastructure/main.tf
  infrastructure/terraform.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, add-or-update, rel:am-org-role-mapping-service-pr-1621
