Repository hmcts/am-org-role-mapping-service, pull requests merged in 2023-12, with the labels that each got.

#1676 AM-3012 CVE-2023-4586 netty 2nd Time Remove Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1676

#1678 AM-3088 CVE-2023-34055 AM-3089 CVE-2023-46589 Shared Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1678

#1679 AM-3088 CVE-2023-34055 spring boot upgrade 2.7.18
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1679

#1682 AM-3090 CVE-2023-6378 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1682

#1685 AM-3090 CVE-2023-6378 Fix logbackVersion upgraded 1.2.13
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1685

#1690 AM-3073 Dependency Check Upgrade 9.0.4
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1690

#1672 Am 2937 Preferable remove idam dependency int tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/utils/WiremockFixtures.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/util/KeyGenerator.java
  src/integrationTest/resources/application-itest.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1672

#1688 Am 3091 Remove IDAM Dependency from ORM Contract Tests
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/BaseTestContract.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForAdvanceDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/resources/application-ctest.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTestIntegration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/utils/WiremockFixtures.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/KeyGenerator.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1688

#1684 COT-655 - Added Employment Judge (Sitting in Retirement)
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1684

#1686 AM-3058: FTA for ET Judicial ORG roles.
  src/functionalTest/resources/features/F-010/F-010.feature
  src/functionalTest/resources/features/F-010/S-106.td.json
  src/functionalTest/resources/features/F-010/S-106_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-106_JRDEmploymentJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-010/S-106_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-010/S-107.td.json
  src/functionalTest/resources/features/F-010/S-107_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-107_JRDEmploymentJudgeFeePaidUser.td.json
  src/functionalTest/resources/features/F-010/S-107_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-010/S-108.td.json
  src/functionalTest/resources/features/F-010/S-108_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-108_JRDTribunalMemberFeePaidUser.td.json
  src/functionalTest/resources/features/F-010/S-108_PushMessageToJRDService.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1686

#1697 Am 2936 add preview jbs
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1697

#1698 COT-684 removed check on ticket code 362 for Tribunal Member Financially Qualified SSCS
  src/main/resources/judicialProfileSample.json
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1698

#1704 AM-3093: Review and adjust the Delete ORM Roles steps in FTAs as required
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-005/S-041_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-042.td.json
  src/functionalTest/resources/features/F-005/S-042_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-043.td.json
  src/functionalTest/resources/features/F-005/S-043_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-044.td.json
  src/functionalTest/resources/features/F-005/S-044_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005/S-045_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-051.td.json
  src/functionalTest/resources/features/F-006/S-051_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-052.td.json
  src/functionalTest/resources/features/F-006/S-052_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-053.td.json
  src/functionalTest/resources/features/F-006/S-053_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-061_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-062_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-063_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-081_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007/S-082.td.json
  src/functionalTest/resources/features/F-007/S-082_DeleteDataForRoleassignments.td.json
  src/functionalTest/resources/features/F-007/S-084.td.json
  src/functionalTest/resources/features/F-007/S-084_DeleteDataRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/S-071.td.json
  src/functionalTest/resources/features/F-008/S-071_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/S-072.td.json
  src/functionalTest/resources/features/F-008/S-072_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/S-073_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008/S-074.td.json
  src/functionalTest/resources/features/F-008/S-074_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-091_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-092_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-093_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-094_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-095_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-101_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-102_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-103_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-104_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-010/S-105_DeleteDataForRoleAssignments.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1704
