Repository hmcts/am-org-role-mapping-service, pull requests merged in 2023-01, with the labels that each got.

#1206 IAC_CTSC - Add CTSC category for IAC service
  src/main/resources/validationrules/iac/iac-admin-mapping.drl
  src/main/resources/validationrules/iac/iac-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCtscOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1206

#1257 Suppress CVE-2021-4277
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1257

#1255 2567 New Judicial Config
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1255

#1262 Public law judicial changes
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1262

#1263 FAMILY_PRIVATE_LAW - update hearing role id
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1263

#1265 adding logs in orm
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1265

#1267 public law judicial change
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1267

#1138 PUBLIC_LAW - Add mapping rules in ORM for STAFF users
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.9__publiclaw_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-ctsc-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/iac/iac-ctsc-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-admin-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-caseworker-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1138

#1278 designated family judge changes
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1278

#1281 add recorder appointment
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1281

#1252 PUBLIC_LAW Drools for Judicial Users
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1252

#1115 CTSC_Integration - Update AM applications to store skill codes
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/main/resources/validationrules/civil/civil-caseworker-mapping.drl
  src/main/resources/validationrules/civil/civil-ctsc-mapping.drl
  src/main/resources/validationrules/iac/iac-admin-mapping.drl
  src/main/resources/validationrules/iac/iac-caseworker-mapping.drl
  src/main/resources/validationrules/iac/iac-ctsc-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCaseMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCtscOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1115

#1296 ORM-Nightly Build failed
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1296

#1268 PUBLIC_LAW - Add mapping rules in ORM for STAFF and JUDICIAL users (#1138)
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/CaseWorkerProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.9__publiclaw_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-ctsc-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/iac/iac-ctsc-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-admin-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-caseworker-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-ctsc-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1268
