Repository hmcts/am-org-role-mapping-service, pull requests merged in 2023-04, with the labels that each got.

#1425 AM-2740 CVE-2023-20860 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1425

#1423 AM-2732:CA & TS new role mapping for IAC - CTSC
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V2.1__iac_wa_1_2_base_flag_addition.sql
  src/main/resources/validationrules/iac/iac-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCtscOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1423

#1428 AM-2730 Adjust tests for #1426
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/S-061.td.json
  src/functionalTest/resources/features/F-007/S-061.v1_1.td.json
  src/functionalTest/resources/features/F-007/S-062.td.json
  src/functionalTest/resources/features/F-007/S-063.td.json
  src/functionalTest/resources/features/F-007/S-064.td.json
  src/functionalTest/resources/features/F-007/S-081.td.json
  src/functionalTest/resources/features/F-007/S-082.td.json
  src/functionalTest/resources/features/F-007/S-082.v1_1.td.json
  src/functionalTest/resources/features/F-007/S-084.td.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1428

#1426 AM-2730 Civil mapping changes for staff and judicial team leader roles
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/S-061.td.json
  src/functionalTest/resources/features/F-007/S-061.v1_1.td.json
  src/functionalTest/resources/features/F-007/S-062.td.json
  src/functionalTest/resources/features/F-007/S-063.td.json
  src/functionalTest/resources/features/F-007/S-064.td.json
  src/functionalTest/resources/features/F-007/S-081.td.json
  src/functionalTest/resources/features/F-007/S-082.td.json
  src/functionalTest/resources/features/F-007/S-082.v1_1.td.json
  src/functionalTest/resources/features/F-007/S-084.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V2.2__civil_wa_1_1_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/main/resources/validationrules/civil/civil-caseworker-mapping.drl
  src/main/resources/validationrules/civil/civil-ctsc-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1426

#1410 AM-2688:ET_WA - Add mapping rules in ORM for STAFF users
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V1.10__employment_wa_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-ctsc-global.drl
  src/main/resources/validationrules/core/utility-functions.drl
  src/main/resources/validationrules/employment/employment-admin-mapping.drl
  src/main/resources/validationrules/employment/employment-caseworker-mapping.drl
  src/main/resources/validationrules/employment/employment-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1410

#1407 Am 2612 ET_WA add mapping rules
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/employment/employment-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1407

#1427 AM-2743
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  src/functionalTest/resources/logback-test.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1427

#1437 AM-2782 CVE-2021-22044 spring-cloud-starter-openfeign upgraded to 2.2…
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1437
