Repository hmcts/am-org-role-mapping-service, pull requests merged in 2023-08, with the labels that each got.

#1537 AM-2888 CVE-2023-34034 Fix spring-security upgraded 5.7.10
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1537

#1494 AM-2855: Validation to ensure status of refresh job is correct before processing
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
Labels: ns:am, prd:am, keep-helm, rel:am-org-role-mapping-service-pr-1494

#1529 COT-439 ST_CIC WA updated fee paid judge attr
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1529

#1536 AM-2891: Add @WithSpan annotation to JRD & CRD topic consumers
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1536

#1545 AM-2901 Update ASB Namespace value
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, keep-helm, rel:am-org-role-mapping-service-pr-1545

#1541 AM-2820 HMC IAC Fix FTs
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-003/S-023.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1541

#1548 AM-2889 CVE-2023-3782 Suppression removed as vulnerability changed to…
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1548

#1445 AM-2783: FTA for PublicLaw
  src/functionalTest/resources/features/F-009/F-009-Base-Root.td.json
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/F-009_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-009/S-091.td.json
  src/functionalTest/resources/features/F-009/S-091_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-091_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-009/S-091_SingleUserMultipleCaseworkerRolesIds.td.json
  src/functionalTest/resources/features/F-009/S-092.td.json
  src/functionalTest/resources/features/F-009/S-092_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-092_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-009/S-092_SingleUserMultipleHearingRolesIds.td.json
  src/functionalTest/resources/features/F-009/S-093.td.json
  src/functionalTest/resources/features/F-009/S-093_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-093_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-009/S-093_SingleUserMultipleHearingRolesIds.td.json
  src/functionalTest/resources/features/F-009/S-094.td.json
  src/functionalTest/resources/features/F-009/S-094_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-094_JRDCircuitJudgeFeePaidUser.td.json
  src/functionalTest/resources/features/F-009/S-094_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-009/S-095.td.json
  src/functionalTest/resources/features/F-009/S-095_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-009/S-095_JRDJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-009/S-095_PushMessageToJRDService.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1445

#1538 Upgrade: java-logging 6.0.1
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1538

#1554 AM-2906 Enable privatelaw_wa_1_2 ORM flag in PROD
  src/main/resources/db/migration/V20230816_2906__AM-2906_Enable_privatelaw_wa_1_2_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1554

#1482 Am 2820 hmc iac org roles
  src/functionalTest/resources/features/F-001/S-002.td.json
  src/functionalTest/resources/features/F-001/S-006.td.json
  src/functionalTest/resources/features/F-001/S-007.td.json
  src/functionalTest/resources/features/F-001/S-010.td.json
  src/functionalTest/resources/features/F-003/S-022.td.json
  src/functionalTest/resources/features/F-003/S-023.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/UtilityFunctions.java
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-caseworker-global.drl
  src/main/resources/validationrules/core/hearing-role-ctsc-global.drl
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, keep-helm, rel:am-org-role-mapping-service-pr-1482

#1547 COT-463 update FPL staff role work types
  src/functionalTest/resources/features/F-009/S-093.td.json
  src/main/resources/validationrules/publiclaw/publiclaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1547

#1546 COT-460 ST_CIC WA add region to org roles
  src/main/resources/validationrules/stcic/stcic-admin-mapping.drl
  src/main/resources/validationrules/stcic/stcic-caseworker-mapping.drl
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/main/resources/validationrules/stcic/stcic-other-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicStaffOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1546

#1472 ST_CIC_WA_1_0 Release/feature branch
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/META-INF/kmodule.xml
  src/main/resources/db/migration/V20230512_2714__AM-2714_ST_CIC_WA_1_0_base_flag_addition.sql
  src/main/resources/validationrules/stcic/stcic-admin-mapping.drl
  src/main/resources/validationrules/stcic/stcic-caseworker-mapping.drl
  src/main/resources/validationrules/stcic/stcic-ctsc-mapping.drl
  src/main/resources/validationrules/stcic/stcic-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/main/resources/validationrules/stcic/stcic-other-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicStaffOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1472
