Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-04, with the labels that each got.

#1840 DTSAM-239 - fix broken pipeline due to altered functional test case.
  src/functionalTest/resources/features/F-006/S-060.td.json
  src/functionalTest/resources/features/F-006/S-060_JRDTribunalMemberFeePaidUser.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1840

#1839 DTSAM-186 added processing to re-set Scottish region where necessary
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240328_186__DTSAM-186_EMPLOYMENT_WA_1_2_base_flag_addition.sql
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1839

#1842 DTSAM-185 CVE-2024-1597 postgresql upgraded to 42.6.1, suppression removed
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1842

#1843 DTSAM-243 Enable 'employment_wa_1_2' ORM flag in PROD, AAT, PERFTEST,…
  src/main/resources/db/migration/V20240403_243__DTSAM-243_Enable_EMPLOYMENT_WA_1_2_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1843

#1841 DTSAM-183 SSCS Multi-region for CTSC
  src/functionalTest/resources/features/F-006/S-057.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/resources/validationrules/sscs/sscs-ctsc-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/main/resources/validationrules/sscs/sscs-mulit-region.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/RoleAssignmentAssertHelper.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1841

#1844 DTSAM-182 PRL OGA listed-hearing-viewer changes
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240403_182__DTSAM-182_PRIVATELAW_WA_1_4_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-other-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawOtherGovDeptStaffRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1844

#1845 DTSAM-248 Enable privatelaw_wa_1_4 ORM flag in PROD, Demo, AAT, Perfte…
  src/main/resources/db/migration/V20240405_248__DTSAM-248_Enable_privatelaw_wa_1_4_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1845

#1846 DTSAM-251 SSCS JOH with region set to 'National'
  src/main/resources/validationrules/core/core.drl
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1846

#1850 AM-2919 Disable test shouldProcessRefreshRoleAssignmentsWithJobIdToPa…
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1850

#1851 AM-3143 Disable enable_temp_tablespaces_on_local_ssd in v15 Prod
  infrastructure/main.tf
Labels: ns:am, prd:am, aat/add-or-update, rel:am-org-role-mapping-service-pr-1851

#1853 DTSAM-255 Increase feign timeout to 15 seconds
  src/main/resources/application.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1853

#1848 AM-3036 Schema Owner Trigger Prod
  infrastructure/main.tf
Labels: ns:am, prd:am, aat/destroy, rel:am-org-role-mapping-service-pr-1848

#1849 AM-3061 Reader User Trigger 4 Prod
  infrastructure/main.tf
Labels: ns:am, prd:am, aat/destroy, rel:am-org-role-mapping-service-pr-1849

#1855 AM-2936 patch to PR 1689
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1855

#1689 AM-2936 ORM Preview chart with RAS + JBS
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1689

#1847 DTSAM-138 Retire old rules after PUBLICLAW_WA_1_3 Go Live - publiclaw…
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1847

#1863 DTSAM-258 ET appt Vice-President, Employment Tribunal (Scotland)
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240415_258__DTSAM-258_EMPLOYMENT_WA_1_3_base_flag_addition.sql
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/employment/employment-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1863

#1864 DTSAM-259 Enable 'employment_wa_1_3' ORM flag in PROD
  src/main/resources/db/migration/V20240415_259__DTSAM-259_Enable_employment_wa_1_3_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1864

#1865 DTSAM-142 Enable 'civil_wa_1_4' ORM flag in PROD
  src/main/resources/db/migration/V20240415_142__DTSAM-142_Enable_civil_wa_1_4_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1865

#1866 DTSAM-261 verify PREVIEW RAS and JBS are healthy
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1866

#1870 AM-3076 Enable sscs_wa_1_0 in Prod
  src/main/resources/db/migration/V20240417_3076__AM-3076_Enable_sscs_wa_1_0_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1870

#1879 DTSAM-265 remove region from SSCS dwp hmrc
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-005/S-041.td.json
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-053.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240419_265__DTSAM-265_SSCS_WA_1_2_base_flag_addition.sql
  src/main/resources/validationrules/sscs/sscs-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1879

#1816 DTSAM-160 Migrate ORM to azure-messaging-servicebus
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForAdvanceDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForCreate.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForDelete.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForGetActorById.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForSearchQuery.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/OrgRoleMappingConsumerTestForStaticRoles.java
  src/contractTest/resources/application-ctest.yaml
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/servicebus/CRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/servicebus/JRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerNew.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerNew.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicPublisher.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/deserializer/OrmDeserializer.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumerTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1816

#1883 Dtsam 274 two new sscs appt
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240423_274__DTSAM-274_SSCS_WA_1_3_base_flag_addition.sql
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1883

#1884 DTSAM-266 Enable sscs_wa_1_2 ORM flag in PROD
  src/main/resources/db/migration/V20240425_266__DTSAM-266_Enable_sscs_wa_1_2_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1884

#1885 DTSAM-275 Enable sscs_wa_1_3 ORM flag in PROD
  src/main/resources/db/migration/V20240425_275__DTSAM-275_Enable_sscs_wa_1_3_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1885

#1886 DTSAM-252 Helm chart upgrade - chart-java 5.2.0 ,autoscaling disabled
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1886

#1888 DTSAM-252 Helm chart upgrade - Chart versions bumped RAS 0.0.77 and J…
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1888

#1826 DTSAM-101 Retire JRD V1 eLinks Logic
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/OrgRoleMappingProviderTestForRefresh.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/ProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerJudicialRefreshIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/Appointment.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/JRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/RdFeignClientInterceptor.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/UserAccessProfileBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtils.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JRDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialRefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ParseRequestServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/CaseWorkerAccessProfileBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/JacksonUtilsTest.java
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1826, aat/destroy

#1889 Dtsam 282 remove judicial access profile cft region id v1 field
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialAccessProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AssignmentRequestBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1889

#1869 DTSAM-167 Intermittent Integration Tests
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/integrationTest/resources/sql/insert_refresh_jobs.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1869

#1825 DTSAM-165 : test job APIs in ORM for view to use in FTAs
  build.gradle
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/TestController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/RefreshJobsController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/domain/RefreshJob.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/RefreshJobsControllerTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1825
