Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-10, with the labels that each got.

#2071 DTSAM-487 ORM Remove Old ASB - CRD New ASB enabled in Preview
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerNew.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumer.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerNew.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicConsumer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/BaseTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerNewTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerNewTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2071

#2122 DTSAM-578 CVE-2024-9329 glassfish Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2122

#2065 DTSAM-427: FTAs for ST Judicial Appointments
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-012/S-126.td.json
  src/functionalTest/resources/features/F-012/S-126_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-126_JRDPresidentOfTribunalSalariedUser.td.json
  src/functionalTest/resources/features/F-012/S-126_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-012/S-127.td.json
  src/functionalTest/resources/features/F-012/S-127_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-127_JRDTribunalJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-012/S-127_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-012/S-128.td.json
  src/functionalTest/resources/features/F-012/S-128_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-128_JRDTribunalJudgeFeePaidUser.td.json
  src/functionalTest/resources/features/F-012/S-128_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-012/S-129.td.json
  src/functionalTest/resources/features/F-012/S-129_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-129_JRDTribunalMemberFeePaidUser.td.json
  src/functionalTest/resources/features/F-012/S-129_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-012/S-130.td.json
  src/functionalTest/resources/features/F-012/S-130_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-130_JRDTribunalMemberMedicalSalariedUser.td.json
  src/functionalTest/resources/features/F-012/S-130_PushMessageToJRDService.td.json
Labels: ns:am, prd:am, enable_keep_helm, aat/no-changes, prod/no-changes, rel:am-org-role-mapping-service-pr-2065

#2112 DTSAM-557 ST_CIC_WA update staff RA config
  src/functionalTest/resources/features/F-012/S-121.td.json
  src/functionalTest/resources/features/F-012/S-122.td.json
  src/functionalTest/resources/features/F-012/S-123.td.json
  src/functionalTest/resources/features/F-012/S-124.td.json
  src/main/resources/validationrules/stcic/stcic-admin-mapping.drl
  src/main/resources/validationrules/stcic/stcic-caseworker-mapping.drl
  src/main/resources/validationrules/stcic/stcic-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicStaffOrgRoleTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2112

#2133 Removed workTypes from roles as specified
  src/functionalTest/resources/features/F-012/S-126.td.json
  src/functionalTest/resources/features/F-012/S-127.td.json
  src/functionalTest/resources/features/F-012/S-128.td.json
  src/functionalTest/resources/features/F-012/S-129.td.json
  src/functionalTest/resources/features/F-012/S-130.td.json
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2133

#2138 DTSAM-584 Expand Civil Drool test coverage of service code AAA7
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2138

#2145 COT-912 ST_CIC remove booked judge role assignment
  src/functionalTest/resources/features/F-012/S-128.td.json
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2145
