Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-07, with the labels that each got.

#1971 Dtsam 353 civil wa emp judge appt
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240625_353__DTSAM-353_CIVIL_WA_1_5_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1971

#1980 DTSAM-371 Azure Container Registries - TESTCONTAINERS env vars added …
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1980

#1983 DTSAM-371 Azure Container Registries - TESTCONTAINERS env vars added …
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1983

#1984 DTSAM-380 Temp Disable ASB Functional Tests
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1984

#1985 DTSAM-382 GIT_COMMIT null in Local Build
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1985

#1979 DTSAM-360 civil wa update admin workTypes
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/S-062.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240702_360__DTSAM-360_CIVIL_WA_1_6_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1979

#2014 DTSAM-423 Dependency Check v10 - plugin org.owasp.dependencycheck 9.0…
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2014

#2010 Dtsam 418 update fta feature toggle exc handling orm
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmFeatureToggleService.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2010

#2013 DTSAM-421 update ST Tribunal Member Financial to Tribunal Member Financially Qualified
  src/main/resources/validationrules/stcic/stcic-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialOfficeMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2013

#2016 DTSAM-429 Investigate issues with ORM Staging server on master pipeli…
  charts/am-org-role-mapping-service/values.aat.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2016

#2019 DTSAM-429 Staging Memory Config 2
  charts/am-org-role-mapping-service/values.aat.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2019

#2017 DTSAM-426: FTA scenarios for Staff ORG roles.
  src/functionalTest/resources/features/F-012/F-012-Base-Root.td.json
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-012/F-012_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-012/S-121.td.json
  src/functionalTest/resources/features/F-012/S-121_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-121_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012/S-121_SingleUserMultipleCaseworkerRolesIds.td.json
  src/functionalTest/resources/features/F-012/S-122.td.json
  src/functionalTest/resources/features/F-012/S-122_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-122_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012/S-122_SingleUserMultipleHearingRolesIds.td.json
  src/functionalTest/resources/features/F-012/S-123.td.json
  src/functionalTest/resources/features/F-012/S-123_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-123_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012/S-123_SingleUserMultipleHearingRolesIds.td.json
  src/functionalTest/resources/features/F-012/S-124.td.json
  src/functionalTest/resources/features/F-012/S-124_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-124_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012/S-124_SingleUserMultipleHearingRolesIds.td.json
  src/functionalTest/resources/features/F-012/S-125.td.json
  src/functionalTest/resources/features/F-012/S-125_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-012/S-125_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012/S-125_SingleUserMultipleHearingRolesIds.td.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2017

#2023 DTSAM-442 Grant read access to refresh job sequence to the prod/non-p…
  src/main/resources/db/migration/V20240730_442__DTSAM-442_Grant_Reader_Access.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2023
