Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-12, with the labels that each got.

#2173 DTSAM-595 Enable 'civil_wa_2_0' ORM flag in PROD
  src/main/resources/db/migration/V20241202_595__DTSAM-595_Enable_civil_wa_2_0_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2173

#2176 Feature/cot 928
  src/functionalTest/resources/features/F-012/F-012.feature
  src/functionalTest/resources/features/F-012/S-127.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20241204_928__COT-928_ST_CIC_WA_1_1_base_flag_addition.sql
  src/main/resources/validationrules/stcic/stcic-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2176

#2183 COT-929 Enable 'st_cic_wa_1_1' AM ORM flag in PROD
  V20241209_929__COT-929_Enable_st_cic_wa_1_1_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2183

#2195 COT-937 - Removing upper case characters in new work types
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-081.td.json
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2195

#2196 DTSAM 590 FTAs For IA
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/F-001.feature
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/F-001_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.03.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.04.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.05.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2196
