Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-02, with the labels that each got.

#1710 Ga 47 create table access types
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/AccessTypesEntity.java
  src/main/resources/db/migration/V20231218_47__GA-47_new_access_types_table.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/data/AccessTypeTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1710

#1711 Ga 48 create table profile refresh queue
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueEntity.java
  src/main/resources/db/migration/V20231220_48__GA-48_new_profile_refresh_queue_table.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueEntityTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1711

#1719 GA-50 create user_refresh_queue table
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueEntity.java
  src/main/resources/db/migration/V20240108_50__GA-50_Create_user_refresh_queue_table.sql
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1719

#1720 Ga 99 create table batch last run timestamp
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/BatchLastRunTimestampEntity.java
  src/main/resources/db/migration/V20240108_99__GA-99-Create-table-batch_last_run_timestamp.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/data/BatchLastRunTimestampTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1720

#1745 DTSAM-114 publiclaw_wa_1_2 Enable in Prod, Demo, Perftest, ITHC
  src/main/resources/db/migration/V20240208_114__DTSAM-114_Enable_publiclaw_wa_1_2_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1745

#1754 DTSAM-137 CVE-2023-34042 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1754

#1755 DTSAM-137 CVE-2023-34042 spring-security upgraded to 5.7.11
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1755

#1747 DTSAM-135 Public Law "District Judge (MC) (sitting in retirement)" re…
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240212_135__DTSAM-135_PUBLICLAW_WA_1_3_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1747

#1758 DTSAM-96 IAC_JRD_1_1 Remove Judge
  src/functionalTest/resources/features/F-004/S-031.td.json
  src/functionalTest/resources/features/F-004/S-032.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240214_96__DTSAM-96_IAC_JRD_1_1_base_flag_addition.sql
  src/main/resources/validationrules/iac/iac-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolIacJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1758

#1687 AM-3004 : Add hearing-viewer & hearing-manager to CTSC users for SSCS
  src/main/resources/validationrules/core/hearing-role-ctsc-global.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1687

#1756 DTSAM-99 Retire PUBLICLAW_WA_1_0 Drool Rule publiclaw_fee_paid_judge_…
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1756

#1768 DTSAM-111 Investigate intermittent RefreshControllerIntegrationTest -…
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1768

#1764 DTSAM-146 retire after PRIVATELAW_WA_1_1 go live
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1764

#1766 DTSAM-150 Add ORM FTAs test to verify CRD and JRD service bus message…
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmDefaultMultiSourceFeatureToggleService.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmEnvironmentVariableToggleService.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-201.td.json
  src/functionalTest/resources/features/F-000/S-202.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicController.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1766

#1765 DTSAM-147 Retire old rules after PRIVATELAW_WA_1_3 Go Live
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1765

#1770 DTSAM-154 CVE-2024-25710 Suppression
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1770

#1771 DTSAM-154 CVE-2024-25710 Fix commons-compress upgraded to 1.26
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1771

#1772 GA-170 update org/user refresh queues
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueEntity.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueEntity.java
  src/main/resources/db/migration/V20240104_49__GA-49_Create_organisation_refresh_queue_table.sql
  src/main/resources/db/migration/V20240108_50__GA-50_Create_user_refresh_queue_table.sql
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1772

#1773 Ga 176 p2 retry insertion
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationServiceIntegrationTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1773

#1774 Ga 179 p4 retry insertion
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepository.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1774

#1776 Ga 178 p3 add retry after
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueEntity.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationService.java
  src/main/resources/db/migration/V20240104_49__GA-49_Create_organisation_refresh_queue_table.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/OrganisationBuilderTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1776

#1786 Update UserRefreshQueueEntity to include user last updated property
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueEntity.java
  src/main/resources/db/migration/V20240108_50__GA-50_Create_user_refresh_queue_table.sql
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1786

#1783 DTSAM-150 Change TopicController's response format
  src/functionalTest/resources/features/common/PushMessageToSend2CrdTopic.td.json
  src/functionalTest/resources/features/common/PushMessageToSend2JrdTopic.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicController.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1783

#1789 GA-163 Update PRM Process 4 to update the user last updated column
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueEntity.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/ProfessionalUserData.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/constants/PrmConstants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/ProfessionalUserBuilder.java
  src/main/resources/db/migration/V20240108_50__GA-50_Create_user_refresh_queue_table.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/ProfessionalUserBuilderTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1789

#1779 DTSAM-150: ORM FTAs test to verify CRD and JRD service bus messages
  src/functionalTest/resources/features/F-001/S-004.td.json
  src/functionalTest/resources/features/F-001/S-004_PushMessageToAzureServiceBus.td.json
  src/functionalTest/resources/features/F-011/F-011-Base-Root.td.json
  src/functionalTest/resources/features/F-011/F-011.feature
  src/functionalTest/resources/features/F-011/F-011_Test_Data_Base.td.json
  src/functionalTest/resources/features/F-011/S-211.td.json
  src/functionalTest/resources/features/F-011/S-211_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-011/S-211_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-011/S-211_SingleUserMultipleCaseworkerRolesIds.td.json
  src/functionalTest/resources/features/F-011/S-213.td.json
  src/functionalTest/resources/features/F-011/S-213_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-011/S-213_JRDTribunalMemberFeePaidUser.td.json
  src/functionalTest/resources/features/F-011/S-213_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/common/PushMessageToSend2CrdTopic.td.json
  src/functionalTest/resources/features/common/PushMessageToSend2JrdTopic.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/TopicController.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1779

#1787 AM-3134 Create new role for SSCS post-hearing-judge
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1787
