Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-08, with the labels that each got.

#2031 DTSAM-448 Retry Annotations for FTA Deletes with 504 Timeouts in AAT…
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-003/F-003.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2031

#2032 DTSAM-446 Move org.apache.poi Version to Var in Gradle
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2032

#2043 DTSAM-394 Enable civil_wa_1_7 DB flag in PROD
  src/main/resources/db/migration/V20240808_394__DTSAM-394_Enable_civil_wa_1_7_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2043

#2026 DTSAM-443: `CIVIL_WA_1_8`: + appt `Circuit Judge (sitting in retirement)`
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240731_443__DTSAM-443_CIVIL_WA_1_8_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2026

#2035 DTSAM-452 CIVIL Salaried London/SE multi region RAs
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-007/S-081.td.json
  src/functionalTest/resources/features/F-007/S-082.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240801_452__DTSAM-452_CIVIL_WA_1_9_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-multi-region.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2035

#1986 Revert "DTSAM-380 Temp Disable ASB Functional Tests"
  Jenkinsfile_CNP
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-org-role-mapping-service-pr-1986

#2050 DTSAM-473_FTA_Fix
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmTestDataLoader.java
  src/functionalTest/resources/features/F-004/F-004.feature
  src/functionalTest/resources/features/F-004/S-031_CreateDataForBookings.td.json
  src/functionalTest/resources/features/F-004/S-032_CreateDataForBookings.td.json
  src/functionalTest/resources/features/F-004/S-033_DeleteDataForBookings.td.json
  src/functionalTest/resources/features/F-004/S-033_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-004/S-033_PostRefreshRequestToORM.td.json
  src/functionalTest/resources/idamUsers/AmJrdUser1.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2050

#2064 DTSAM-484 ORM Update Preview Chart after JBS LD Decommission
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2064

#2068 DTSAM-485 temp disable of failing FTA
  src/functionalTest/resources/features/F-006/F-006.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2068
