Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-03, with the labels that each got.

#1797 GA-185 add process monitoring component
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/models/EndStatus.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/models/ProcessMonitorDto.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/service/ProcessEventTracker.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/models/ProcessMonitorDtoTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/service/ProcessEventTrackerTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1797

#1803 GA-186 Track PRM Process 1
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionServiceTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1803

#1804 AM-3025 Migrate Data ORM AAT - Schema Owner Fix
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, add-or-update, rel:am-org-role-mapping-service-pr-1804

#1806 AM-3025 Migrate Data ORM AAT - Schema Owner Bump 2
  infrastructure/main.tf
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1806

#1712 AM-3061 v15 Reader User Trigger 2 AAT, ITHC, Perftest, Demo
  infrastructure/main.tf
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1712

#1808 GA-187 add event logging for process 2
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationServiceTest.java
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1808

#1782 AM-3115 SSCS: FTAs for Judicial ORG Roles
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-058.td.json
  src/functionalTest/resources/features/F-006/S-058_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-058_JRDTribunalJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-006/S-058_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-006/S-059.td.json
  src/functionalTest/resources/features/F-006/S-059_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-059_JRDTribunalJudgeFeePaidUser.td.json
  src/functionalTest/resources/features/F-006/S-059_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-006/S-060.td.json
  src/functionalTest/resources/features/F-006/S-060_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-060_JRDTribunalMemberFeePaidUser.td.json
  src/functionalTest/resources/features/F-006/S-060_PushMessageToJRDService.td.json
  src/functionalTest/resources/features/F-006/S-161.td.json
  src/functionalTest/resources/features/F-006/S-161_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-161_JRDPresidentOfTribunalSalariedUser.td.json
  src/functionalTest/resources/features/F-006/S-161_PushMessageToJRDService.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1782

#1781 DTSAM-111 Investigate intermittent RefreshControllerIntegrationTest -…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
Labels: ns:am, prd:am, no-changes, rel:am-org-role-mapping-service-pr-1781

#1812 refactored integration test for GA-54
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/AccessTypesRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/TestData.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/AccessTypeString.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/Jurisdiction.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/OrganisationProfile.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/OrganisationProfiles.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/Role.java
  src/integrationTest/resources/sql/insert_access_types.sql
  src/integrationTest/resources/sql/insert_civil_existing_access_types.sql
  src/integrationTest/resources/sql/insert_civil_mismatch_existing_access_types.sql
  src/integrationTest/resources/sql/insert_existing_profiles_refresh_queue.sql
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1812

#1813 Cot 809 refactor roles
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1813

#1815 COT-818 - adding case allocator for salaried judge
  src/main/resources/validationrules/employment/employment-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1815

#1798 GA-194 add alert for PRM process not started terraform change
  infrastructure/alert_groups.tf
  infrastructure/alerts.tf
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1798

#1757 AM-3077 Enable 'employment_wa_1_0' ORM flag in PROD
  src/main/resources/db/migration/V20240214_3077__AM-3077_Enable_employment_wa_1_0_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1757

#1821 Ga 189 track process events v2
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/models/ProcessMonitorDto.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1821

#1809 AM-3025 Migrate Data ORM AAT - Schema Owner Bump 3
  infrastructure/main.tf
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1809

#1822 AM-3061 v15 Reader User Trigger 3 AAT, ITHC, Perftest, Demo
  infrastructure/main.tf
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1822

#1714 AM-3118 Update AAT Chart for Staging
  charts/am-org-role-mapping-service/values.aat.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1714

#1820 AM-2911 patch to PR 1575
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/ProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/utils/MockUtils.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/integrationTest/resources/sql/insert_refresh_jobs.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialBookingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/util/UtilityFunctions.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/utils/WiremockFixtures.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/BulkAssignmentOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/JudicialBookingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/util/UtilityFunctionsTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1820

#1830 DTSAM-143 Enable 'publiclaw_wa_1_3' ORM flag in PROD
  src/main/resources/db/migration/V20240319_143__DTSAM-143_Enable_publiclaw_wa_1_3_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1830

#1788 GA-181 p4 with retry approach
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserIntegrationTest.java
  src/integrationTest/resources/sql/insert_organisation_profiles_retry_3.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/monitoring/models/ProcessMonitorDto.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1788

#1833 COT-835 - New judicial role President, Employment Tribunals (Scotland).
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240320_835__COT-835_EMPLOYMENT_WA_1_1_base_flag_addition.sql
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/employment/employment-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1833

#1834 COT-836 - enable employment_wa_1_1 in prod.
  src/main/resources/db/migration/V20240321_836__COT-836_Enable_EMPLOYMENT_WA_1_1_base_flag.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1834

#1767 GA-54
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/AccessTypesRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/TestData.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/AccessTypeString.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/Jurisdiction.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/OrganisationProfile.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/OrganisationProfiles.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/dto/Role.java
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/insert_access_types.sql
  src/integrationTest/resources/sql/insert_civil_existing_access_types.sql
  src/integrationTest/resources/sql/insert_civil_mismatch_existing_access_types.sql
  src/integrationTest/resources/sql/insert_existing_profiles_refresh_queue.sql
  src/integrationTest/resources/sql/insert_organisation_profiles.sql
  src/integrationTest/resources/sql/insert_populated_access_types.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SchedulerConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/AccessTypesRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AccessType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AccessTypeJurisdiction.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AccessTypeRole.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/AccessTypesResponse.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationProfile.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationProfileAccessType.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationProfileJurisdiction.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/RestructuredAccessTypes.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CCDService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/CCDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/CCDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/AccessTypesBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/Scheduler.java
  src/main/resources/accessTypesSample.json
  src/main/resources/application.yaml
  src/main/resources/db/migration/V20240219_54__GA-54_init_access_types.sql
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CCDServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/CaseDefinitionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/AccessTypesBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, destroy, rel:am-org-role-mapping-service-pr-1767

#1743 GA-55 process 2
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataCaseworkerConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/refdata/RefDataProfessionalOrganisationalInternalConsumerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueRepositoryIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/IntTestDataBuilder.java
  src/integrationTest/resources/sql/insert_organisation_profiles.sql
  src/integrationTest/resources/sql/insert_profile_refresh_queue.sql
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/SchedulerConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/OrganisationRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/ProfileRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationByProfileIdsRequest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationByProfileIdsResponse.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/OrganisationInfo.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/constants/PrmConstants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PrdService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/PRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/configuration/PRDFeignClientFallback.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/OrganisationBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/Scheduler.java
  src/main/resources/application.yaml
  src/main/resources/organisationSample.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PrdServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestDataBuilder.java
Labels: ns:am, prd:am, DO NOT MERGE, destroy, rel:am-org-role-mapping-service-pr-1743

#1838 DTSAM-185 : CVE Suppression CVE-2024-1597
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1838
