Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-06, with the labels that each got.

#1943 DTSAM-336: CASEWORKER_FTA_ENABLED and JUDICIAL_FTA_ENABLED flags.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/resources/features/F-001/F-001.feature
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-003/F-003.feature
  src/functionalTest/resources/features/F-004/F-004.feature
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-007/F-007.feature
  src/functionalTest/resources/features/F-008/F-008.feature
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-010/F-010.feature
  src/functionalTest/resources/features/F-011/F-011.feature
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1943

#1948 DTSAM-339 Reactivate JRD FTAs
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1948

#1953 DTSAM-318 FTAs for RefreshJob validation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-013.td.json
  src/functionalTest/resources/features/F-002/S-013_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-013_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-014.td.json
  src/functionalTest/resources/features/F-002/S-014_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-014_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-015.td.json
  src/functionalTest/resources/features/F-002/S-015_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-015_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-016.td.json
  src/functionalTest/resources/features/F-002/S-016_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-016_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/common/response/ORM_422_Response.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1953

#1950 DTSAM-293 Refresh Controller's RefreshJob integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1950

#1952 DTSAM-318 Refactor RefreshJob status validation
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrgRoleMappingAmTestAutomationAdapter.java
  src/functionalTest/resources/features/F-002/F-002.feature
  src/functionalTest/resources/features/F-002/S-013.td.json
  src/functionalTest/resources/features/F-002/S-013_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-013_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-014.td.json
  src/functionalTest/resources/features/F-002/S-014_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-014_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-015.td.json
  src/functionalTest/resources/features/F-002/S-015_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-015_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/F-002/S-016.td.json
  src/functionalTest/resources/features/F-002/S-016_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002/S-016_InsertJobForRefreshAPI.td.json
  src/functionalTest/resources/features/common/response/ORM_422_Response.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1952

#1916 DTSAM-290 rm Recorder Salaried
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialOfficeMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1916

#1959 DTSAM-350 Deprecation of properties-volume-spring-boot-starter - grad…
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1959
