Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-01, with the labels that each got.

#1718 AM-3095 Renovate Exclude befta-fw Pre Releases
  renovate.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1718

#1716 AM-3002 CVE-2023-5072 Fix json upgrade 20231013
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1716

#1717 COT-694 changes to SSCS
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialOfficeHolder.java
  src/main/resources/validationrules/sscs/sscs-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1717

#1695 AM-2920 Intermittent Tests Enabled
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerIntegrationV2Test.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1695

#1726 DTSAM-91 CVE 2023 33202 fix
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1726

#1727 DTSAM-94 Review Health Checks with New Guidance - health probes enabl…
  src/main/resources/application.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1727

#1731 DTSAM-100 Retire JRD V2 eLinks Config - Default config variables to true
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.aat.template.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/main/resources/application.yaml
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1731

#1730 DTSAM-95 PUBLICLAW_WA_1_2 Correct Judicial Booking ORM service config…
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240125_95__DTSAM-95_PUBLICLAW_WA_1_2_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-1730

#1736 DTSAM-104 Chart-java Upgrade 5.0.4
  charts/am-org-role-mapping-service/Chart.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1736
