Repository hmcts/am-org-role-mapping-service, pull requests merged in 2024-09, with the labels that each got.

#2070 DTSAM-493: Fix ORM SSCS FTA after JRD test data change
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-161.td.json
  src/functionalTest/resources/features/F-006/S-161_JRDPresidentOfTribunalSalariedUser.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2070

#2074 Updated SSCS test user for S-161.
  src/functionalTest/resources/features/F-006/S-161_JRDPresidentOfTribunalSalariedUser.td.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2074

#2058 DTSAM-392 Enable `civil_wa_1_6` on PROD
  src/main/resources/db/migration/V20240823_392__DTSAM-392_Enable_civil_wa_1_6_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2058

#2057 DTSAM-391 Enable `civil_wa_1_5` on PROD
  src/main/resources/db/migration/V20240823_391__DTSAM-391_Enable_civil_wa_1_5_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2057

#2082 DTSAM-455 Enable `publiclaw_wa_1_4` DB PROD Flag
  src/main/resources/db/migration/V20240905_455__DTSAM-455_Enable_publiclaw_wa_1_4_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2082

#2056 DTSAM-471 filter soft deleted judicial users
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/ProviderTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerJudicialRefreshIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/JudicialProfileV2.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataService.java
  src/main/resources/application.yaml
  src/main/resources/judicialProfileSampleV2.json
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RetrieveDataServiceTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2056

#2090 DTSAM-487 Refactor unit tests for Topic Consumers
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/CRDTopicConsumerNewTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/servicebus/JRDTopicConsumerNewTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2090

#2093 DTSAM-527 Adjust RAS memory limits in PREVIEW
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2093

#2101 DTSAM-487 Remove Old ASB - Default to New ASB
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2101

#2102 DTSAM-457 Enable 'civil_wa_1_8' ORM flag in PROD
  src/main/resources/db/migration/V20240918_457__DTSAM-457_Enable_civil_wa_1_8_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2102

#2084 SSCS_WA_1_5 DTSAM-506 add IBCA mapping rule
  src/functionalTest/resources/features/F-005/F-005.feature
  src/functionalTest/resources/features/F-006/F-006.feature
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240906_506__DTSAM-506_SSCS_WA_1_5_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-admin-global.drl
  src/main/resources/validationrules/core/hearing-role-other-global.drl
  src/main/resources/validationrules/sscs/sscs-admin-mapping.drl
  src/main/resources/validationrules/sscs/sscs-other-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolSscsStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2084

#2091 DTSAM-524: Adding FTA for IBCA
  src/functionalTest/resources/features/F-006/F-006.feature
  src/functionalTest/resources/features/F-006/S-162.td.json
  src/functionalTest/resources/features/F-006/S-162_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006/S-162_PostCreateRequestToORM.td.json
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2091

#2100 Dtsam 517 `SSCS_HEARING_1_1` `PRIVATELAW_HEARING_1_0` hearing roles end time filter
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240917_517__DTSAM-517_SSCS_HEARING_1_1_base_flag_addition.sql
  src/main/resources/db/migration/V20240918_517__DTSAM-517_PRIVATELAW_HEARING_1_0_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/sscs/sscs-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolBase.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolHearingOfficeOrgRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2100

#2109 DTSAM-552 retire judicial hearing-manager role for FPL
  src/functionalTest/resources/features/F-009/F-009.feature
  src/functionalTest/resources/features/F-009/S-094.td.json
  src/functionalTest/resources/features/F-009/S-095.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20240926_552__DTSAM-552_PUBLICLAW_HEARING_1_0_base_flag_addition.sql
  src/main/resources/validationrules/core/hearing-role-judicial-global.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2109

#2110 DTSAM-466 Enable 'civil_wa_1_9' ORM flag in PROD
  src/main/resources/db/migration/V20240930_466__DTSAM-466_Enable_civil_wa_1_9_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2110
