Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-02, with the labels that each got.

#2220 DTSAM-668 Add Case-Allocator for CTSC Admin, Hearing Centre Administr…
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/F-008.feature
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/F-008_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.02.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.02__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.02b.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.02b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.04.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.04__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.04b.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.04b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.10.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.10__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.10b.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-008.10b__VerifyCaseworkerDetails.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250121_668__DTSAM-668_PRIVATELAW_WA_1_5_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-admin-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-caseworker-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2220

#2224 DTSAM-647 Employment case-worker functional tests
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/F-010.feature
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/F-010_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.01b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.02b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.03b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.04b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.05b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.09b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.10b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.12b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13a.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13b.td.json
  src/functionalTest/resources/features/F-010 - Create ET Staff and Judicial Role Assignments/S-010.13b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill_BHA1_ET.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill__Base.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2224

#2187 CME-121: Default Config
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:am, prd:am, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2187

#2081 DTSAM-491 Decommission Launch Darkly ORM
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
  charts/am-org-role-mapping-service/values.yaml
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/OrgRoleMappingProviderTestForRefresh.java
  src/contractTest/java/uk/gov/hmcts/reform/orgrolemapping/provider/ProviderTestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/orgrolemapping/befta/OrmDefaultMultiSourceFeatureToggleService.java
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-000/S-113.td.json
  src/functionalTest/resources/features/F-000/S-120.td.json
  src/functionalTest/resources/features/F-002 - Refresh Job API/F-002.feature
  src/functionalTest/resources/features/F-003 - Create IA Judicial Role Assignments/F-003.feature
  src/functionalTest/resources/features/F-004 - Judicial Booking Refresh/F-004.feature
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerJudicialRefreshIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/WelcomeControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/apihelper/Constants.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/DBFlagConfigurtion.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/EnvironmentConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/JobConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LDDummyClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/LaunchDarklyConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/servicebus/CRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/servicebus/JRDMessagingConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluator.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/FeatureFlagToggleEvaluator.java
  src/smokeTest/java/uk/gov/hmcts/reform/orgrolemapping/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/config/EnvironmentConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/config/JobConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/FeatureFlagControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawOtherGovDeptStaffRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/PersistenceServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RequestMappingServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/launchdarkly/FeatureConditionEvaluatorTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2081

#2246 DTSAM-786 Temporarily disable FTA S-022 in ORM
  src/functionalTest/resources/features/F-003 - Create IA Judicial Role Assignments/F-003.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2246

#2234 DTSAM-646 add FTAs for civil caseworkers
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01b_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01b_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.01b_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.02_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.02_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.02_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.02_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.04_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.04_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.04_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.04_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06b_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06b_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.06b_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09b_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09b_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.09b_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.10_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.10_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.10_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.10_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.11_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.11_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.11_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.11_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill_AAA6_CIVIL_CCMC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill_AAA6_CIVIL_MULTI_TRACK.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill_AAA7_CIVIL_CCMC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/skills/Skill_AAA7_CIVIL_MULTI_TRACK.td.json
Labels: ns:am, prd:am, aat/destroy, prod/destroy, rel:am-org-role-mapping-service-pr-2234

#2248 DTSAM-786 Re-enable FTA F-003 > S-022 after change in IDAM ID
  src/functionalTest/resources/features/F-003 - Create IA Judicial Role Assignments/F-003.feature
  src/functionalTest/resources/features/F-003 - Create IA Judicial Role Assignments/JRDTribunalJudgeFeepaidUser.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2248

#2238 COT-941 - ST_CIC - Update to staff role mappings - Specific access
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/F-012.feature
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/F-012_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03a.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03b.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.03b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12a.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12b.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-012.12b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-122.td.json
  src/functionalTest/resources/features/F-012 - Create ST_CIC Staff and Judicial Role Assignments/S-124.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250110_941__COT-941_ST_CIC_WA_1_2_base_flag_addition.sql
  src/main/resources/validationrules/stcic/stcic-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolStcicStaffOrgRoleTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/destroy, prod/destroy, rel:am-org-role-mapping-service-pr-2238

#2251 COT-918 Enable 'civil_wa_2_1' AM ORM flag in PROD
  src/main/resources/db/migration/V20250220_918__COT-918_Enable_civil_wa_2_1_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2251

#2240 DTSAM-777 add task manager for identified staff
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/F-009.feature
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/F-009_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01b.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.01b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.02.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.02__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.02a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.02a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03b.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.03b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04b.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.04b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09b.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.09b__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.10.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.10__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.10a.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-009.10a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-091.td.json
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-092.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250212_777__DTSAM-777_PUBLICLAW_WA_1_7_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-admin-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-caseworker-mapping.drl
  src/main/resources/validationrules/publiclaw/publiclaw-ctsc-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2240
