Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-04, with the labels that each got.

#2287 DTSAM-801 Add 'Designated Civil Online Judge'
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250327_801__DTSAM-801_CIVIL_WA_2_4_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2287

#2293 DTSAM-828 Expand FPL JoH rules for 'High Court Judge (sitting in retirement)'
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250403_828__DTSAM-828_PUBLICLAW_WA_1_8_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2293

#2295 COT-958 Added new role for Civil: wlu-admin
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_20_WLU_Admin.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250404_958__COT-958_CIVIL_WA_2_3_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-org-role-mapping-service-pr-2295

#2299 DTSAM-840 Expand FPL JoH rules for 'President of the Family Division'
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250410_840__DTSAM-840_PUBLICLAW_WA_1_9_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2299

#2303 DTSAM 843 Suppress CVE tomcat
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2303

#2304 DTSAM-843 FIx the CVE CVE-2025-24813 tomcat
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2304

#2306 DTSAM-829 Enable 'publiclaw_wa_1_8' ORM flag in PROD
  src/main/resources/db/migration/V20250416_829__DTSAM-829_Enable_publiclaw_wa_1_8_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2306

#2307 DTSAM-833 Enable 'publiclaw_wa_1_9' ORM flag in PROD
  src/main/resources/db/migration/V20250416_833__DTSAM-833_Enable_publiclaw_wa_1_9_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2307

#2254 DTSAM-790 Retire RAS LaunchDarkly chart values in ORM's PREVIEW chart
  charts/am-org-role-mapping-service/Chart.yaml
  charts/am-org-role-mapping-service/values.preview.template.yaml
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2254

#2312 DTSAM-813 PATCH inital framework for PRM Scheduler Integration Tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/JsonHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestScenarioIntegrationHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/BaseSchedulerTestIntegration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/PrmSchedulerProcess1IntegrationTest.java
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_civil_scenario_01.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_publiclaw_scenario_01.json
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/prm/access_types/init_access_types.sql
  src/integrationTest/resources/sql/prm/profile_refresh_queue/init_profile_refresh_queue.sql
Labels: ns:am, prd:am, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2312

#1965 DTSAM-344 DTSAM-344 Spring Boot 3 Upgrade RARB - Unsync ITHC
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-1965
