Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-08, with the labels that each got.

#2428 DTSAM-650_Add_FTAs_For_SSCS PATCH to remove Registrar
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/F-006.feature
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16a.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16a__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16b.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-006.16b__VerifyCaseworkerDetails.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2428

#2427 DTSRD-4867 Adjust and re-enable ORM FTAs from PR-2422
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/F-005.feature
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-041.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-041_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-041_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-041__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-042.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-042_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-042_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-042__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-043.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-043_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-043_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-043__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-044.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-044_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-044_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-044__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-045.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-045_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-045_PostCreateRequestToORM.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/F-006.feature
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-051.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-051_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/S-051__VerifyCaseworkerDetails.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2427

#2430 DTSAM-556 Enable 'publiclaw_hearing_1_0' ORM flag in PROD
  src/main/resources/db/migration/V20250811_556__DTSAM-556_Enable_publiclaw_hearing_1_0_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2430

#2431 DTSAM-635 Enable 'publiclaw_wa_1_6' ORM flag in PROD
  src/main/resources/db/migration/V20250811_635__DTSAM-635_Enable_publiclaw_wa_1_6_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2431

#2447 DTSAM-1021 Temp disable of FTA F-006 S-060
  src/functionalTest/resources/features/F-006 - Create SSCS Staff and Judicial Role Assignments/F-006.feature
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2447
