Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-01, with the labels that each got.

#2197 COT-932 Additional Civil Caseworker FTAs for change
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA7.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2197

#2177 COT-932 Added case-allocator role for hearing centre team leader
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA7.td.json
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2177

#2190 CME-260: Update azurerm
  infrastructure/terraform.tf
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-org-role-mapping-service-pr-2190

#2211 DTSAM-536 Enable 'sscs_wa_1_5' ORM flag in PROD
  src/main/resources/db/migration/V20250108_536__DTSAM-536_Enable_sscs_wa_1_5_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2211

#2146 DTSAM-590 `IAC_WA_1_3` update hearing-centre-admin workTypes
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/F-001.feature
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/F-001_PushMessageToCRDService.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.03.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.04.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.05.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20241030_590__DTSAM-590_IAC_WA_1_3_base_flag_addition.sql
  src/main/resources/validationrules/iac/iac-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolAdminOrgRoleMappingTest.java
Labels: ns:am, prd:am, aat/no-changes, prod/no-changes, rel:am-org-role-mapping-service-pr-2146

#2215 DTSAM-662 Add Caseworker RD call to new FTAs
  src/functionalTest/resources/features/F-000/F-000.feature
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/F-001.feature
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.03__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.04__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-001 - Create IA Staff Role Assignments/S-001.05__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-002 - Refresh Job API/F-002.feature
  src/functionalTest/resources/features/F-002 - Refresh Job API/S-012_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-005 - Create Hearing Role Assignments/S-045_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.03b_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/common/DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/common/external/ref-data/FetchCaseworkersById__Base.td.json
  src/functionalTest/resources/features/common/external/ref-data/FetchCaseworkersById__PositiveResponse_Base.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/CaseworkerDetails.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_01_SLC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_02_LC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_03_HC_TL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_04_HC_Admin.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_05_CC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_06_NBC_TL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_07_NBC_Listing.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_08_NBC_Payments.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_09_CTSC_TL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_10_CTSC_Admin.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_11_NBC_Admin.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_12_RC_TL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_13_RC_Admin.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_14_DWP.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_15_HMRC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_16_Registrar.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_17_CICA.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_18_Cafcass.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_19_IBCA.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole__Base.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_AAA6_Civil.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_AAA7_Civil.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_ABA3_FPL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_ABA5_PRL.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_BBA2_ST_CIC.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_BBA3_SSCS.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_BFA1_IA.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea_BHA1_ET.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/work-areas/WorkArea__Base.td.json
  src/functionalTest/resources/features/common/users/AmCRDUser1.td.json
Labels: ns:am, prd:am, enable_keep_helm

#2117 DTSAM-464 `PUBLICLAW_WA_1_5` update FPL `Designated Family Judge` mapping
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20241004_464__DTSAM-464_PUBLICLAW_WA_1_5_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2117

#2179 DTSAM-616 `PUBLICLAW_WA_1_5` configure FPL SPTW appt
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2179

#2175 DTSAM-617 `PUBLICLAW_WA_1_6` expand FPL JOH rules for Deputy District Judge Fee Paid
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20241203_617__DTSAM-617_PUBLICLAW_WA_1_6_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2175

#2178 DTSAM-625 `PUBLICLAW_WA_1_6` expand FPL JOH rules for Deputy District Judge (sitting in retirement)
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2178
