Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-05, with the labels that each got.

#2318 CME-346 Spring Boot 3 Upgrade RARB - Resync ITHC
  Jenkinsfile_CNP
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2318

#2323 DTSAM-814 Expand PRM Process 2 Functional Tests
  src/functionalTest/resources/features/F-013 - PRM Scheduler/F-013.feature
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.01_VerifySolicitorProfileRefreshQueueValueExists.td.json
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.02_MakeSolicitorProfileRefreshQueueValueActive.td.json
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.02_VerifySolicitorProfileRefreshQueueValueIsNotActive.td.json
  src/functionalTest/resources/features/common/test-support/prm/FindProfileRefreshQueue__Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/FindProfileRefreshQueue__PositiveResponse_Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/MakeProfileRefreshQueueActive__Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/MakeProfileRefreshQueueActive__PositiveResponse_Base.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmProfileRefreshQueueController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/domain/ProfileRefreshQueueValue.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmProfileRefreshQueueControllerTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2323

#2321 DTSAM-626 privatelaw_wa_1_6 - Private Law JoH rules to cover 'Deputy District Judge' & 'Deputy District Judge (sitting in retirement)'
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250507_626__DTSAM-626_PRIVATELAW_WA_1_6_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2321

#2322 DTSAM-656 privatelaw_wa_1_6 - Private Law JoH rules to cover 'District Judge (MC) (sitting in retirement)' & 'District Judge (sitting in retirement)'
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2322

#2325 DTSAM-853 privatelaw_wa_1_6 - Add new work type ‘routine_work’ for Private Law Judicial user
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/F-008.feature
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-073.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-074.td.json
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2325

#2330 DTSAM-865
  build.gradle
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2330

#2336 DTSAM-860 FTAs for FL401-Judge
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/F-008.feature
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-074.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_JRDDistrictJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_PushMessageToJRDService.td.json
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2336

#2335 DTSAM-860 privatelaw_wa_1_7 - Enable Civil judge to access FL401 cases for Private Law
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/F-008.feature
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-074.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_DeleteDataForRoleAssignments.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_JRDDistrictJudgeSalariedUser.td.json
  src/functionalTest/resources/features/F-008 - Create PRL Staff and Judicial Role Assignments/S-075_PushMessageToJRDService.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250520_860__DTSAM-860_PRIVATELAW_WA_1_7_base_flag_addition.sql
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/privatelaw/privatelaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPrivateLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2335

#2328 DTSAM-861 employment_wa_1_5 - Expand Employment Judge Fee-paid role
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250514_861__DTSAM-861_EMPLOYMENT_WA_1_5_base_flag_addition.sql
  src/main/resources/validationrules/employment/employment-judicial-office-holder-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolEmploymentHearingJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2328

#2334 CME-57 PATCH to SB3 + J21 PR to revert behviour changes
  src/functionalTest/resources/features/F-002 - Refresh Job API/F-002.feature
  src/functionalTest/resources/features/F-002 - Refresh Job API/S-013.td.json
  src/functionalTest/resources/features/F-002 - Refresh Job API/S-013_DeleteJobFromORMDB.td.json
  src/functionalTest/resources/features/F-002 - Refresh Job API/S-013_InsertJobForRefreshAPI.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerRefreshJobIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ApplicationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdvice.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/exception/FeignClientException.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshJobConfigService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestrator.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/RefreshControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/advice/OrgRoleMappingControllerAdviceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/data/GenericArrayUserTypeTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/RefreshOrchestratorTest.java
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2334

#2337 DTSAM-911 Civil 'Lead and Deputy Online Judge'
  src/main/resources/validationrules/civil/civil-judicial-office-holder-mapping.drl
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2337
