Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-09, with the labels that each got.

#2456 COT-959 Enable 'civil_wa_2_3' AM ORM flag in PROD
  src/main/resources/db/migration/V20250902_959__COT-959_Enable_civil_wa_2_3_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2456

#2460 DTSAM-545 Enable 'privatelaw_hearing_1_0' AM ORM flag in PROD
  src/main/resources/db/migration/V20250904_545__DTSAM-545_Enable_privatelaw_hearing_1_0_Prod.sql
Labels: ns:am, prd:am, enable_keep_helm, rel:am-org-role-mapping-service-pr-2460

#2313 DTSAM-813 Expand PRM Process 1 Integration Tests
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/JsonHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/helper/TestScenarioIntegrationHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/BaseSchedulerTestIntegration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/PrmSchedulerProcess1IntegrationTest.java
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_civil_scenario_01.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_civil_scenario_02.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_publiclaw_scenario_01.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/jurisdiction_publiclaw_scenario_02.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/multiprofile_scenario_01.json
  src/integrationTest/resources/SchedulerTests/CcdAccessTypes/multiprofile_scenario_02.json
  src/integrationTest/resources/application-itest.yaml
  src/integrationTest/resources/sql/prm/access_types/init_access_types.sql
  src/integrationTest/resources/sql/prm/access_types/insert_civil_access_type.sql
  src/integrationTest/resources/sql/prm/access_types/insert_multipleprofile_access_type.sql
  src/integrationTest/resources/sql/prm/profile_refresh_queue/init_profile_refresh_queue.sql
  src/integrationTest/resources/sql/prm/profile_refresh_queue/insert_OGD_Profile.sql
  src/integrationTest/resources/sql/prm/profile_refresh_queue/insert_SOLICITOR_Profile.sql
Labels: ns:am, prd:am, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2313

#2324 Dtsam 870 ga process2 integration tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/BaseSchedulerTestIntegration.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/PrmSchedulerProcess2IntegrationTest.java
  src/integrationTest/resources/SchedulerTests/PrdOrganisationInfo/organisation1_scenario_01.json
  src/integrationTest/resources/SchedulerTests/PrdOrganisationInfo/organisation1_scenario_02.json
  src/integrationTest/resources/SchedulerTests/PrdOrganisationInfo/organisation2_scenario_01.json
  src/integrationTest/resources/SchedulerTests/PrdOrganisationInfo/organisation3_scenario_01.json
  src/integrationTest/resources/sql/prm/organisation_refresh_queue/init_organisation_refresh_queue.sql
  src/integrationTest/resources/sql/prm/organisation_refresh_queue/insert_organisation1.sql
  src/integrationTest/resources/sql/prm/organisation_refresh_queue/insert_organisation2.sql
  src/integrationTest/resources/sql/prm/profile_refresh_queue/insert_Solicitor_Profile.sql
Labels: ns:am, prd:am, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2324

#2454 Dtsam 1023 ga consolidate event logs
  src/functionalTest/resources/features/F-013 - PRM Scheduler/F-013.feature
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2454

#2459 Dtsam 993 ga professional users service config
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ProfessionalUserServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2459

#2397 DTSAM-993 Code review adjustments to GA-53 PRM P6 Batch Mode: Part 1
  src/functionalTest/resources/features/F-013 - PRM Scheduler/F-013.feature
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.06.td.json
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.06_MakeUserRefreshQueueValueActive.td.json
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.06_VerifyUserRefreshQueueValueIsNotActive.td.json
  src/functionalTest/resources/features/common/test-support/prm/FindUserRefreshQueue__Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/FindUserRefreshQueue__PositiveResponse_Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/MakeUserRefreshQueueActive__Base.td.json
  src/functionalTest/resources/features/common/test-support/prm/MakeUserRefreshQueueActive__PositiveResponse_Base.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/PrmSchedulerProcess5IntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/config/ProfessionalUserServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmSchedulerController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmUserRefreshQueueController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/domain/UserRefreshQueueValue.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueEntity.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalRefreshOrchestrationHelper.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/Scheduler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmUserRefreshQueueControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalRefreshOrchestrationHelperTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/SchedulerTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2397

#2394 DTSAM-856 GA Process 6 Single User FTAs
  src/functionalTest/resources/features/F-014 - PRM Refresh/F-014-Base-Root.td.json
  src/functionalTest/resources/features/F-014 - PRM Refresh/F-014.feature
  src/functionalTest/resources/features/F-014 - PRM Refresh/S-014.01.td.json
  src/functionalTest/resources/features/F-014 - PRM Refresh/S-014.01__VerifyProfessionalUser.td.json
  src/functionalTest/resources/features/F-014 - PRM Refresh/S-014.02.td.json
  src/functionalTest/resources/features/common/internal/ref-data/FetchProfessionalUsersById__Base.td.json
  src/functionalTest/resources/features/common/internal/ref-data/FetchProfessionalUsersById__PositiveResponse_Base.td.json
  src/functionalTest/resources/features/common/internal/ref-data/snippet/ProfessionalUser.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalRefreshOrchestrationHelper.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalRefreshOrchestratorTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2394
