Repository hmcts/am-org-role-mapping-service, pull requests merged in 2025-07, with the labels that each got.

#2369 DTSAM-939 publiclaw_wa_2_1 - fee-paid-judge region
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/F-009.feature
  src/functionalTest/resources/features/F-009 - Create FPL Staff and Judicial Role Assignments/S-094.td.json
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250703_939__DTSAM-939_PUBLICLAW_WA_2_1_base_flag_addition.sql
  src/main/resources/validationrules/publiclaw/publiclaw-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolPublicLawJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2369

#2385 DTSAM-961 Enable 'privatelaw_wa_1_8' ORM flag in PROD
  src/main/resources/db/migration/V20250710_961__DTSAM-961_Enable_privatelaw_wa_1_8_Prod.sql
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2385

#2344 DTSAM-855 GA Process 5 FTAs
  src/functionalTest/resources/features/F-013 - PRM Scheduler/F-013.feature
  src/functionalTest/resources/features/F-013 - PRM Scheduler/S-013.05.td.json
  src/integrationTest/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepositoryIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmSchedulerController.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/data/UserRefreshQueueRepository.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserService.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/feignclients/PRDFeignClient.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/helper/ProfessionalUserBuilder.java
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/Scheduler.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/controller/testingsupport/PrmSchedulerControllerTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/ProfessionalUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/scheduler/SchedulerTest.java
Labels: ns:am, prd:am, enable_keep_helm, aat/add-or-update, prod/add-or-update, rel:am-org-role-mapping-service-pr-2344

#2374 DTSAM-956 civil_wa_2_5 - Add case-allocator and task-supervisor role to Lead and Deputy Online Judge - Salaried
  src/main/java/uk/gov/hmcts/reform/orgrolemapping/domain/model/enums/FeatureFlagEnum.java
  src/main/resources/db/migration/V20250707_956__DTSAM-956_CIVIL_WA_2_5_base_flag_addition.sql
  src/main/resources/validationrules/civil/civil-judicial-org-role-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilHearingJudicialRoleMappingTest.java
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilJudicialRoleMappingTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2374

#2406 COT-1003 PATCH: Dev review changes + FTA config
  charts/am-org-role-mapping-service/values.preview.template.yaml
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/F-007.feature
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.20_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21a_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21a_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21a_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21a_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21b_AAA6.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21b_AAA6__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21b_AAA7.td.json
  src/functionalTest/resources/features/F-007 - Create CIVIL Staff and Judicial Role Assignments/S-007.21b_AAA7__VerifyCaseworkerDetails.td.json
  src/functionalTest/resources/features/common/external/ref-data/snippet/caseworker-roles/CaseworkerRole_21_WLU_Team_Leader.td.json
  src/main/resources/validationrules/civil/civil-admin-mapping.drl
  src/test/java/uk/gov/hmcts/reform/orgrolemapping/domain/service/DroolCivilStaffOrgRolesTest.java
Labels: ns:am, prd:am, rel:am-org-role-mapping-service-pr-2406
